<div class="container">
     <div> 
         <h2>Modifier un Compte :</h2>
         </div>
      <form > 
          <div hidden class="col-sm-2 col-md-2 col-lg-2"> 
              <label >ID Compte</label>
               <input readonmly type="text" [(ngModel)]="currentCompte.idCompte" name="idCompte" class="form-control"> 
            </div>
             <div class="col-sm-4 col-md-4 col-lg-4" > 
                 <label >Nom Propriétaire</label>
                  <input type="text"[(ngModel)]= "currentCompte.nomProp" name="nomProp" class="form-control"> 
                </div> 
                <div class="col-sm-2 col-md-2 col-lg-2"> 
                    <label >Montant</label>
                     <input type="number" [(ngModel)]= "currentCompte.montant" name="montant" class="form-control"> 
                    </div> 
                    <div class="col-sm-4 col-md-4 col-lg-4">
                         <label >Date création</label> <input type="date" [ngModel]="currentCompte.dateCreation | date: 'yyyy-MM-dd'"(ngModelChange)=" currentCompte.dateCreation= $event" name="dateCreation" class="form-control"> 
                        </div>
                         <div class="mt-2"> 
                             <button type="submit" (click)="updateCompte()" class="btn btn-success">Modifer</button> 
                            </div>
                         </form>
                         </div>