<div class="container"> <div> 
    <h2>Ajouter un Compte :</h2> 
</div>
<form >
     <div class="col-sm-2 col-md-2 col-lg-2">
          <label >ID Compte</label> 
          <input type="text" [(ngModel)]="newCompte.idCompte" name="idCompte" class="form-control">
         </div> 
     <div class="col-sm-4 col-md-4 col-lg-4" > 
         <label >Nom Propriétaire</label> <input type="text"[(ngModel)]= "newCompte.nomProp" name="nomProp" class="form-control"> 
        </div> 
    <div class="col-sm-2 col-md-2 col-lg-2"> 
        <label >Montant</label>
         <input type="number" [(ngModel)]= "newCompte.montant" name="montant" class="form-control"> 
        </div> 
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <label >Date création</label> 
            <input type="date" [(ngModel)]= "newCompte.dateCreation" name="dateCreation" class="form-control"> 
        </div>
         <div class="mt-2"> <button type="submit" (click)="addCompte()" class="btn btn-success">Ajouter</button> 
        </div> 
    </form>
 </div>
